html {
  height: 100%;
}
body {
  height: 100%;
}
.main {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.main__background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.main__caption {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Cabin';
  color: #fff;
  margin-bottom: 25px;
}
.main_long {
  height: auto;
}
.logo {
  background: url(../img/logo-white.svg) center center no-repeat;
  width: 111px;
  height: 80px;
  background-size: 100% 100%;
}
.logo_black {
  background: url(../img/logo-black.svg) center center no-repeat;
}
.container {
  width: 1284px;
  margin: 0 auto;
  position: relative;
}
.container_frontpage {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.container-top {
  display: flex;
  justify-content: space-between;
}
.container-min {
  padding-top: 54px;
  display: inline-block;
}
.mainmenu {
  list-style: none;
  padding: 0;
  margin: 32px 0 0 6px;
}
.mainmenu_black .mainmenu__item:hover:after {
  background-color: #222;
}
.mainmenu_black .mainmenu__link {
  color: #222;
}
.mainmenu__item {
  position: relative;
  margin-right: 39px;
  display: inline-block;
}
.mainmenu__item:after {
  display: block;
  content: '';
  position: absolute;
  bottom: -3px;
  left: -4px;
  right: -4px;
  height: 3px;
  background-color: transparent;
  transition: all 0.1s ease-in-out;
}
.mainmenu__item:hover:after {
  background-color: #fff;
}
.mainmenu__link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Cabin';
  font-weight: 800;
}
.eatmenu {
  list-style: none;
  padding-top: 75px;
  margin: 0;
}
.eatmenu__item {
  margin-bottom: 62px;
  text-align: right;
}
.eatmenu__name {
  position: relative;
  height: 32px;
  display: block;
}
.eatmenu__link {
  text-decoration: none;
  font-size: 26px;
  font-family: 'Cabin';
  font-weight: 800;
  line-height: 32px;
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  transition: all 0.35s ease-in-out;
}
.eatmenu__link:after {
  content: '●';
  font-size: 16px;
  margin-left: 17px;
  color: #fff;
  opacity: 40%;
}
.eatmenu__link:hover {
  font-size: 50px;
}
.eatmenu__link:hover:after {
  opacity: 100%;
}
.eatmenu__price {
  font-size: 16px;
  font-family: 'Cabin';
  font-weight: 800;
  line-height: 19px;
  color: #fff;
  display: block;
  margin: 5px 27px 0 0;
}
.container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.container-bottom_black .info__text {
  color: #222;
}
.container-bottom_black .social__item {
  margin-left: 40px;
  margin-right: 0;
}
.container-bottom_black .social__link {
  color: #222;
}
.info {
  margin-bottom: 64px;
  margin-left: 4px;
}
.info__text {
  font-size: 16px;
  font-family: 'Cabin';
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  white-space: pre-wrap;
  letter-spacing: 0.4px;
}
.info__text_bold {
  font-weight: 800;
  font-size: 18px;
}
.social {
  list-style: none;
  padding: 0;
  margin-bottom: 70px;
}
.social__item {
  margin-right: 40px;
  display: inline-block;
}
.social__link {
  text-decoration: none;
  font-size: 16px;
  font-family: 'Cabin';
  font-weight: 800;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
}
.tabs {
  margin-top: 76px;
  margin-right: 3px;
}
.tabs__list {
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}
.tabs__item {
  display: inline-block;
  margin-left: 70px;
}
.tabs__item_value {
  position: relative;
}
.tabs__item_value:after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: -16px;
  right: -10px;
  display: block;
  height: 3px;
  border-radius: 7px;
  background-color: #222;
}
.tabs__item_value .tabs__link {
  opacity: 1;
}
.tabs__link {
  color: #222;
  text-decoration: none;
  font-size: 26px;
  line-height: 32px;
  font-weight: 800;
  font-family: 'Cabin';
  display: inline-block;
  vertical-align: top;
  opacity: .4;
  letter-spacing: 0.65px;
}
.tabs__link_togo:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 23px;
  height: 29px;
  background: url(../img/togomenu-black.svg) -2px 1px no-repeat;
  background-size: 119%;
  vertical-align: top;
}
.tabs__link_large:before {
  content: '';
  display: inline-block;
  margin-right: 10px;
  width: 32px;
  height: 29px;
  background: url(../img/largemenu-black.svg) -3px -5px no-repeat;
  background-size: 119%;
  vertical-align: top;
}
.tabs__download {
  margin-left: 66px;
  text-decoration: none;
  color: #222;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  font-family: 'Cabin';
  vertical-align: top;
  letter-spacing: .4px;
}
.tabs__download:before {
  content: '';
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url(../img/pdf.svg) -2px -2px no-repeat;
  background-size: 126%;
  margin-right: 6px;
  vertical-align: top;
}
.blockmenu {
  margin: 64px 0 98px;
  font-size: 0;
}
.blockmenu__img {
  width: 50%;
}
.about {
  margin: 124px auto 85px;
  display: flex;
  justify-content: center;
}
.about__descript {
  font-size: 26px;
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  line-height: 40px;
  color: #222;
  width: 831px;
  margin: 57px 0 0 0;
  letter-spacing: .05px;
}
.about__container {
  vertical-align: top;
}
.about__container:first-child {
  margin-right: 196px;
  margin-left: 3px;
}
.about__caption {
  display: block;
  font-family: 'Cabin';
  line-height: 38px;
  font-size: 18px;
  font-weight: 400;
  color: #222;
  text-transform: uppercase;
  letter-spacing: 0.65px;
  margin-top: 80px;
}
.about__text {
  font-family: 'Cabin';
  font-size: 20px;
  font-weight: 800;
  color: #222;
  white-space: pre-wrap;
  line-height: 60px;
  letter-spacing: 0.65px;
}
.about__text_large {
  font-size: 50px;
  letter-spacing: 1px;
}
.about__text_underline {
  box-shadow: inset 0 0px 0 white, inset 0 -3px #222;
}
.powered {
  display: block;
  font-family: 'Cabin';
  font-size: 16px;
  font-weight: 800;
  color: #222;
  line-height: 18px;
  margin-bottom: 70px;
  border-bottom: 1px solid #222;
}
.slider {
  position: relative;
  height: 536px;
  margin-bottom: 88px;
}
.slider__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
}
