.about {
	margin: 44px auto 85px;
	display: flex;
	justify-content: center;

	@media (max-width: 724px) {
		display: block;
	}

	@media (max-width: 375px) {
		margin: -10px 0 0 0;
	}

	&__descript {
		font-size: 26px;
		font-family: 'Cabin';
		font-style: italic;
		font-weight: 400;
		line-height: 40px;
		color: #222;
		width: auto;
		max-width: 831px;
		margin: 57px 0 0 0;
		letter-spacing: .05px;

		@media (max-width: 1380px) {
			width: auto;
			max-width: 730px;
		}

		@media (max-width: 1100px) {
			max-width: 600px;
			font-size: 20px;
		}

		@media (max-width: 980px) {
			max-width: 450px;
			font-size: 18px;
			line-height: 33px;
		}

		@media (max-width: 840px) {
			font-size: 16px;
			max-width: 350px;
		}

		@media (max-width: 724px) {
			font-size: 20px;
			max-width: 100%;
			text-align: center;
		}

		@media (max-width: 375px) {
			display: none;
		}
	}
	

	&__container {
		vertical-align: top;

		@media (max-width: 375px) {
			width: 145px;
			padding: 0 51px;
		}

		&:first-child {
			margin-right: 196px;
			margin-left: 3px;

			@media (max-width: 724px) {
				margin-right: 0;
				width: 100%;
			}

		}
	}

	&__caption {
		display: block;
		font-family: 'Cabin';
		line-height: 38px;
		font-size: 18px;
		font-weight: 400;
		color: #222;
		text-transform: uppercase;
		letter-spacing: 0.65px;
		margin-top: 80px;

		@media (max-width: 375px) {
			line-height: 46px;
			margin-top: 51px;
		}
	}

	&__text {
		font-family: 'Cabin';
		font-size: 20px;
		font-weight: 800;
		color: #222;
		white-space: pre-wrap;
		line-height: 60px;
		letter-spacing: 0.65px;

		&_large {
			font-size: 50px;
			letter-spacing: 1px;

			@media (max-width: 375px) {
				font-size: 30px;
				line-height: 37px;
			}
		}

		&_underline {
			box-shadow: inset 0 0px 0 white, inset 0 -2px #222;
		}
	}
}


.powered {
	display: block;
	font-family: 'Cabin';
	font-size: 16px;
	font-weight: 800;
	color: #222;
	line-height: 18px;
	margin-bottom: 70px;
	border-bottom: 1px solid #222;

	@media (max-width: 375px) {
		display: none;
	}
}

.slider {
	position: relative;
	height: 536px;
	margin-bottom: 88px;

	@media (max-width: 375px) {
		height: 315px;
		margin: 0 -28px;
	}

	&__list {
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: nowrap;
		list-style: none;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__item {

	}
}